@import "tailwindcss";

:root {
  --background: #282828;
  --foreground: #ffffff;
  --brand-orange: #f79839;
  --brand-cream: #f3edde;
  --brand-red: #c23e3e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-orange: var(--brand-orange);
  --color-brand-cream: var(--brand-cream);
  --color-brand-red: var(--brand-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-calSans: var(--font-calSans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard-clip {
  clip-path: polygon(
    0 0,
    0 100%,
    calc(100% - 20px) 100%,
    100% calc(100% - 22px),
    100% 0
  );
}
